{% extends 'base.html' %}
{% load static %}

{% block title %}about{% endblock %}

{% block about-class %}active{% endblock %}

{% block main %}
<div class="lvl-1 wrapper">
# Sublimit — это форум, посвящённый IT-сфере. 
## На нём пользователи могут общаться на различные темы, связанные с разработкой программного обеспечения, технологиями, стартапами и другими аспектами индустрии.

---

Особенностью Sublimit является то, что форум выполнен **в стиле эпохи Просвещения**. Все участники общаются между собой на языке той эпохи, используют соответствующую терминологию и обращаются друг к другу на «вы».

**Sublimit был создан группой энтузиастов, увлечённых IT**. Они стремятся создать сообщество единомышленников, которые смогут обмениваться знаниями и идеями, а также совместно изучать технологии и тенденции в IT-индустрии.

Если вы хотите присоединиться к **Sublimit**, вы можете найти нас в социальных сетях или отправить электронное письмо на адрес [email protected](https://www.youtube.com/watch?v=dQw4w9WgXcQ) 
</div>
<script>
    $(document).ready(function() { $('.wrapper').html(marked.parse($('.wrapper').text())) })
</script>
{% endblock %}