{% extends 'base.html' %}
{% load static %}

{% block title %}rules{% endblock %}

{% block rules-class %}active{% endblock %}

{% block main %}
<div class="lvl-1 wrapper">
## Общеизвестно, что ничто так не характеризует человека, как его манеры. 
### Поэтому предлагаю вашему вниманию несколько правил, соблюдение которых поможет вам прослыть воспитанным человеком. 

1. **Пожалуйста, будьте вежливы.** Обращайтесь к другим участникам форума уважительно, независимо от их статуса. Если вам кажется, что чьё-то поведение неприемлемо, сообщите об этом модератору, а не пытайтесь решить проблему самостоятельно. 

2. **Уважайте мнения других людей.** Каждый человек имеет право на своё мнение, каким бы оно ни было. Вы можете высказать свою точку зрения, но помните, что ваши аргументы должны быть логичными и подкреплёнными фактами. 

3. **Соблюдайте правила грамматики и пунктуации.** Это поможет избежать недоразумений и сделает ваше сообщение более понятным. 

4. **Избегайте использования оскорбительных выражений и ненормативной лексики.** Форум — это место для общения, а не для конфликтов. 

5. **Будьте терпеливыми.** Иногда ответы могут задерживаться из-за различных причин. Подождите немного, прежде чем задавать тот же вопрос снова. 

6. **Не спамите.** Заполнение форума повторяющимися сообщениями или рекламой не принесёт вам ничего, кроме негативных отзывов. 

7. **Не забывайте о конфиденциальности.** Не разглашайте личную информацию других участников без их разрешения. 

8. Будьте активными участниками форума. **Задавайте вопросы, делитесь своим опытом и знаниями**. Так вы поможете другим людям и создадите приятную атмосферу на форуме. 

9. **Следите за обновлениями**. Регулярно проверяйте новые сообщения и отвечайте на них своевременно. 

10. Не забывайте о **благодарности**. Если кто-то помог вам, скажите ему спасибо. Это простое слово может сделать чей-то день лучше. 

Помните, что эти правила созданы для того, чтобы **сделать общение на форуме приятным и продуктивным**. Давайте будем вежливыми, терпеливыми и добрыми друг к другу!
</div>

<script>
    $(document).ready(function() { $('.wrapper').html(marked.parse($('.wrapper').text())) })
</script>
{% endblock %}