.tab {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: fit-content;
        padding: .5em;
        a {
            text-decoration: none;
            padding: .3em;
            white-space: nowrap;
        }
    }

    
}

.search {
    padding: .6em;
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: .6em;
    width: 100%;

    .icon {
        filter: invert(1) drop-shadow(-.1em .1em .2em rgba(0, 0, 0, 0.5));
        width: 2.4em;
    }
    .icon:hover {
        filter: invert(1) drop-shadow(-.05em .05em .1em rgba(0, 0, 0, 0.4));
    }
    .inp {
        width: 100%;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .left { 
        width: 16%;
        text-align: center;

        h1 {
            font-size: 2em;
        }

        a {
            display: inline-block;
            margin: .1em;
            text-decoration: none;
        }

        .topics {
            margin-top: .5em;
        }

    }
    
    .right {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        
        .article {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;
            text-decoration: none;

            a {
                font-size: inherit;
                margin: 0;
                white-space: nowrap;
                cursor: pointer;
                text-decoration: none;
            }

            .title {
                font-size: inherit;
                width: 100%;
                white-space: nowrap;
                cursor: pointer;
                color: black;
                display: flex;
                justify-content: left;
                flex-direction: row;

                span {
                    display: block;
                    margin-left: auto;
                }
            }

            .author {
                margin-left: auto;
                color: rgb(18, 77, 77);
            }
        }
    }
}

.wrapper form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;

    .edit {
        display: flex;
        flex-direction: row;
        gap: .5em;
        justify-content: space-evenly;

        .inp {
            overflow: hidden;
            resize: none;
            height: 35em;
            width: 50%;
        }
        .preview {
            border-radius: .5em;
            width: 50%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        gap: .5em;

        .tags {
            width: 100%;
        }
    }
}

.title {
    h1 {margin: 0;}
}

.comments {
    display: flex;
    padding: .3em;
    border-radius: .5em;
    flex-direction: column;
    gap: .3em;

    .comment {
        padding: .3em;
        border-radius: .3em;
        display: flex;
        flex-direction: row;
        gap: .5em;
        align-items: center;

        p {
            margin: 0;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        gap: .5em;
        .inp {
            width: 100%;
        }
    }
}