.search {
    padding: .6em;
    form {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: .6em;

        .icon {
            filter: invert(1) drop-shadow(-.1em .1em .2em rgba(0, 0, 0, 0.5));
            width: 2.4em;
        }
        .icon:hover {
            filter: invert(1) drop-shadow(-.05em .05em .1em rgba(0, 0, 0, 0.4));
        }
        .inp {
            width: 100%;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .left { 
        width: 16%;
        text-align: center;

        h1 {
            font-size: 2em;
        }

        a {
            display: inline-block;
            margin: .1em;
            text-decoration: none;
        }

        .topics {
            margin-top: .5em;
        }

    }
    
    .right {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        
        .article {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            cursor: pointer;
            text-decoration: none;

            h2 {
                margin: 0;
            }

            &:hover {
                background-color: rgba(0,0,0,.03);
            }

            .author {
                margin-left: auto;
            }
        }
    }
}