.bio {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .avatar {
        background-repeat: no-repeat;
        background-size: cover;
        img {
            display: block;
            margin: auto;
            width: 10em; 
        }
        .username {
            font-size: 4em;
            text-align: center;
        }
    }

    .about {
        width: 50%;
        margin: auto;
        p {
            margin: 0;
        }
    }
    .contacts {
        width: 30%;
        min-width: 20em;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: .2em;

        h2 {
            text-align: center;
            margin: 0;
        }
    }

}

.articles {
    display: flex;
    flex-direction: column;
    gap: .5em;
    .no-article {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 4em;
            img {
                width: 1.5em;
                vertical-align: middle;
            }
        }
    }

    .article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        a {
            margin-left: auto;
            text-decoration: none;
        }

        .title {
            width: fit-content;
            white-space: nowrap;
        }

        .short {
            width: 100%;
        }
        
        h4,h5 {
            margin: 0;
        }
    }
}

.buttons {
    display: flex;
    justify-content: center;

    .btn {
        text-align: center;
        text-decoration: none;
        font-size: 2em;
        width: 5em;
    }

    .False:active {
        box-shadow: -.1em .1em .2em inset rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0);
        outline: 1px solid rgba(0,0,0,0.1);
    }

    .True {
        box-shadow: 0 0 0 inset rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.02);
        outline: 1px solid rgba(0,0,0,0.1);

        &:hover {
        box-shadow: -.1em .1em .2em inset rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0);
        outline: 1px solid rgba(0,0,0,0.1);
        }
    }

}