<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>