{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <script src="{% static 'scripts/forum.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block title %}{{article.title}}{% endblock %}

{% block forum-class %}active{% endblock %}

{% block main %}
<div class="lvl-1 title"><h1>{{article.title}}</h1></div>
<div class="lvl-1 text"></div>
<div class="lvl-1 comments">
    {% for c in comments %}
        <div class="lvl-2 comment">
            <a href="/user/{{c.author.username}}" class="author">{{c.author.username}}</a>
            <p class="c-text">{{c.text}}</p>
        </div>
    {% endfor %}
    {% if comments %} <hr> {% endif %}
    <form action="/forum/article/{{article.id}}/comment" method="POST">
        {% csrf_token %}
        <input class="inp" type="text" name="text" placeholder="comments here" required>
        <input class="btn" type="submit" value="comment">
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.text').html(marked.parse(`{{article.text}}`))
    })
</script>
{% endblock %}