{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <script src="{% static 'scripts/forum.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block title %}new{% endblock %}

{% block forum-class %}active{% endblock %}

{% block main %}
    <section class="lvl-1 wrapper">
        <form action="{{action}}" method="POST">
            {% csrf_token %}
            {% if article %} <input type="hidden" name="id" value="{{article.id}}"> {% endif %}
            <input class="inp" type="text" name="title" placeholder="title" value="{{article.title}}">
            <div class="edit">
                <textarea id="edit_field" class="inp" name="text" placeholder="write your text here">{{article.text}}</textarea>
                <div class="inset preview" class="inset"></div>
            </div>
            <div class="lvl-2 bottom">
                <input class="inp tags" name="tag" type="text" placeholder="type tag here" value="{% if article.tag %}{{article.tag}}{% endif %}"/>
                <input class="btn submit" type="submit" value="post">
            </div>
        </form>
    </section>
{% endblock %}