{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <script src="{% static 'scripts/forum.js' %}"></script>
{% endblock %}


{% block title %}forum{% endblock %}

{% block forum-class %}active{% endblock %}

{% block main %}
    <section class="tab">
        <div class="lvl-1 buttons">
            <a class="btn" href="article/new/">new article ✏️</a>
        </div>
        <form class="lvl-1 search" action="/search/" method="POST">
            {% csrf_token %}
            <input class="inp" type="text" placeholder="search">
            <input class="icon" type="image" src="{% static 'search.svg' %}" alt="search">
        </form>
    </section>
    <section class="wrapper">
        <div class="lvl-1 left">
            <h1 class="white-text">topics</h1>
            <div class="topics">
                <a class="btn" href="">physics</a>
                <a class="btn" href="">frontend</a>
                <a class="btn" href="">backend</a>
                <a class="btn" href="">UI/UX</a>
                <a class="btn" href="">amazon</a>
            </div>
        </div>
        <div class="lvl-1 right">
            {% for a in articles %}
                <div class="article">
                    <a class="btn black-text title" href="article/{{a.id}}">{{a.title}}</a>
                    <a class="btn white-text author" href="/user/{{a.author.username}}/">by {{a.author.username}}</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}