{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <script src="{% static 'scripts/forum.js' %}"></script>
{% endblock %}


{% block title %}forum{% endblock %}

{% block forum-class %}active{% endblock %}

{% block main %}
    <section class="tab">
        <div class="lvl-1 buttons">
            <a class="btn" href="article/new/">new article ✏️</a>
        </div>
        <div class="lvl-1 search">
            <input id="search-field"class="inp" type="text" placeholder="search">
            <input id="search-btn" class="icon" type="image" src="{% static 'search.svg' %}" alt="search">
        </div>
    </section>
    <section class="wrapper">
        <div class="lvl-1 left">
            <h1 class="white-text">topics</h1>
            <div class="topics">
                <a class="btn {% if tag == 'physics' %}active{% endif %}" href="?tag=physics">physics</a>
                <a class="btn {% if tag == 'frontend' %}active{% endif %}" href="?tag=frontend">frontend</a>
                <a class="btn {% if tag == 'backend' %}active{% endif %}" href="?tag=backend">backend</a>
                <a class="btn {% if tag == 'uiux' %}active{% endif %}" href="?tag=uiux">UI/UX</a>
                <a class="btn {% if tag == 'amazon' %}active{% endif %}" href="?tag=amazon">amazon</a>
            </div>
        </div>
        <div class="lvl-1 right">
            {% for a in articles %}
                <div class="article">
                    <a class="btn black-text title" href="article/{{a.id}}">{{a.title}}{% if a.tag %}<span class="white-text">{{a.tag}}</span>{% endif %}</a>
                    {% if a.author == user %} <a class="btn" href="article/{{a.id}}/edit/">✏️</a> {% endif %}
                    <a class="btn white-text author" href="/user/{{a.author.username}}/">by {{a.author.username}}</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $('#search-btn').click(function() {
                window.location.href=`?search=${$('#search-field').val()}`
            })
        })
    </script>
{% endblock %}